
.image {
  text-align:center;
}

.image img {
  max-width: 95%;
}

.image img.full {
  max-width: none;
}

.highlighttable td {
  padding: 0;
  border:none;
}

.linenos pre {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.code pre {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.help-inline { display: none}

.error .help-inline { display: inline }

#file_api {
  display: none;
}

.file-api-actions {
  text-align: right;
}

#drag_area {
  margin-bottom: 2px;
}

.download {
  padding: 20px 0;
  font-size: 20px;
  text-align: center;
}

.drag-upload {
  text-align: center;
  font-size: 20px;
  padding: 20px 0 5px 0;
}

#upload_status {
  text-align: center;
  line-height: 15px;
}

.remove {
  text-align: center;
  width: 70px;
}

.uploaded {
  width: 150px;
}

.views {
 width: 70px;
}
 
