
.image {
  text-align:center;
}

.image img {
  max-width: 95%;
}

.image img.full {
  max-width: none;
}

.highlighttable td {
  padding: 0;
  border:none;
}

.linenos pre {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.code pre {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.help-inline { display: none}

.error .help-inline { display: inline }

#file_api {
  display: none;
}
.file-api-actions {
  text-align: right;
}
#drag_area {
  margin-bottom:2px;
}
.drag-upload {
  text-align: center;
  font-size:20px;
  padding:20px 0;
}
