
.image {
  text-align:center;
}

.image img {
  max-width: 95%;
}

.image img.full {
  max-width: none;
}

.highlighttable td {
  padding: 0;
  border:none;
}

.linenos pre {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.code pre {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.help-inline { display: none}

.error .help-inline { display: inline }
